@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-white;
}

body {
  @apply bg-secondary-900 p-5;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  @apply my-5;
}

h2,
h1 {
  @apply text-3xl font-bold mb-4;
}

main {
  @apply flex justify-between items-center max-w-7xl mx-auto my-0;
}

nav {
  @apply flex justify-between items-center max-w-7xl mx-auto mt-0 mb-5;
}

nav .menuLink {
  @apply flex gap-5;
}

nav .menuLink a {
  @apply text-lg p-[6px] rounded hover:underline;
}

nav .menuLink a.active {
  @apply bg-primary-500 font-bold hover:no-underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
